.container-fullscreen {


    /* Dành cho các trình duyệt không hỗ trợ gradient*/
    background-image: linear-gradient(#aa4b6b, #6b6b83, #3b8d99);
    height: 100vh;
}


.login {
    border-radius: 5px;
    border: 1px solid white;
    width: 30%;
    top: 50%;
    left: 50%;

}


.container {
    padding: 0px;
}


.font-label {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    color: white;
    float: left;
}

.input-information {
    border-radius: 5px;
    border: 1px solid white;
}