.form-find-label {
    padding: 3px;
    font-weight: 500;
}

.form-find-input {
    width: 100%;
    border: 1px solid rgb(190, 180, 180);
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    font-weight: 400;
}